# Local Development (Commented out)
# NEXT_PUBLIC_API_URL=http://localhost:8001

# NEXT_PUBLIC_API_URL=http://localhost:8001
# NEXT_PUBLIC_SOCKET_URL=http://localhost:8001


# Production (Render)
# NEXT_PUBLIC_API_URL=https://my-loan-backend-node-js.onrender.com


# Local Development (Commented out)
# NEXT_PUBLIC_API_URL=http://localhost:8001

# Production (Render)
# NEXT_PUBLIC_API_URL=https://my-loan-backend-node-js.onrender.com
# BACKEND_URL=http://localhost:8001
BACKEND_URL=https://loan-web-app-node-js-backend.onrender.com
NEXT_PUBLIC_API_URL=https://loan-web-app-node-js-backend.onrender.com
NEXT_PUBLIC_SOCKET_URL=https://loan-web-app-node-js-backend.onrender.com

